<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "stylesheets/ExpertFilter.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href = "/ExpertFilter">예약하기</a></li>
                <li><a href = "/reserveInfo">예약정보</a></li>
                <li><a href = "/mypage">회원정보</a></li>
            </ul>
        </nav>
    </header>
        <p>"타로전문가의 조건을 선택해주세요"</p>
        <section>
            <div class = "filter">
                <form action = "/ExpertList" method="GET">
                    <label for="city">지역</label><br>
                <% const city = ['서울', '인천', '대전', '광주', '부산', '대구']; %>
                <% for (let i = 0; i < city.length; i++) { %>
                    <input type="radio" name="city" value="<%= city[i] %>"><%= city[i] %>
                <% } %>
                <br>
                
                <label for="field">전문분야</label><br>
                <% const expertise = ['연애운', '결혼운', '이사운', '금전운', '직장운']; %>
                <% for (let i = 0; i < expertise.length; i++) { %>
                    <input type="radio" name="field" value="<%= expertise[i] %>"><%= expertise[i] %>
                <% } %>
                <br>
            
                <label for="maxPrice">최고가격대(만원)</label><br>
                <select name="maxPrice">
                    <% const maxPrices = [50, 60, 70, 80, 90, 100]; %>
                    <% for (let i = 0; i < maxPrices.length; i++) { %>
                        <option value="<%= maxPrices[i] %>"><%= maxPrices[i] %></option>
                    <% } %>
                </select>
                <br>
            
                <label for="minPrice">최저가격대(만원)</label><br>
                <select name="minPrice">
                    <% const minPrices = [50, 60, 70, 80, 90, 100]; %>
                    <% for (let i = 0; i < minPrices.length; i++) { %>
                        <option value="<%= minPrices[i] %>"><%= minPrices[i] %></option>
                    <% } %>
                </select>
                <br>
            
                <input type="submit" value="검색하기">
            </form>
            </div>
        </section>
    <script>
        document.getElementById('filterForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 폼 제출 기본 동작을 막음

            // FormData 객체 생성
            const formData = new FormData(this);


            //쿼리 문자열 생성.
            const params = new URLSearchParams(formData).toString();


          
        });
    </script>
</body>
</html>